body {
  background-color: black;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#page-title {
  text-align: center;
  color: rgb(191, 23, 23); 
  font-size: 2em;
  margin-top: 20px; /* Ajusta el margen superior para mover el título hacia arriba */
  margin-bottom: 40px; /* Añade margen inferior para separar el título del dragón */
}

#image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;  /* Asegura que el contenedor ocupe todo el ancho disponible */
  height: auto;
}

#rotating-image {
  max-width: 250px;  /* Ajusta el tamaño máximo de la imagen */
  max-height: 250px;
}

.spinner {
  width: 250px;
  height: 250px;
  text-align: center;
  border-radius: 200px;
  animation: spinning82341 1.5s linear infinite;
  box-shadow: 0px -5px 20px 0px rgb(191, 23, 23), 0px 5px 20px 0px rgb(47, 2, 83);
  position: relative;
}

.corner-button {
  position: fixed; 
  width: 120px;
  height: 50px;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  background-color: #f2f2f2;
  color: black;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

#top-left {
  top: 35%;
  left: 10%;
}

#top-right {
  top: 35%;
  right: 10%;
}

#bottom-left {
  bottom: 25%;
  left: 10%;
}

#bottom-right {
  bottom: 25%;
  right: 10%;
}

.hidden {
  opacity: 0;
  transform: translateY(0);
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}
