body {
  background-color: black;
  margin: 0;
  height: 100vh;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Alineación vertical */
  height: 100%;
}

#image-container {
  position: relative;
}

#rotating-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

#page-title {
  width: 100%;
  text-align: center;
  color: rgb(191, 23, 23); 
  font-size: 2em; /* O el tamaño que prefieras */
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.hidden {
  transform: translateY(0); /* Muestra el título */
  opacity: 0;
}

.corner-button {
  position: fixed;
  width: 120px; /* Aumentar el ancho de los botones */
  height: 60px; /* Aumentar la altura de los botones */
  opacity: 0;
  transition: opacity 0.5s ease;
  background-color: #f2f2f2;
  color: black;
  border: none;
  border-radius: 10px;
  font-size: 16px; /* Aumentar el tamaño de la fuente */
  padding: 10px;
  cursor: pointer;
  z-index: 10; /* Asegurarse de que estén sobre la mayoría de los otros elementos */
}

#top-left {
  top: calc(50% - 45px); /* Ajustar la distancia vertical desde el centro */
  left: calc(30% - 65px); /* Ajustar la distancia horizontal desde el centro */
}

#top-right {
  top: calc(50% - 45px);
  right: calc(30% - 65px);
}

#bottom-left {
  bottom: calc(40% - 25px);
  left: calc(30% - 65px);
}

#bottom-right {
  bottom: calc(40% - 25px);
  right: calc(30% - 65px);
}

#page-title {
  z-index: 5; /* Menor que los botones para evitar superposición */
}

#rotating-image {
  z-index: 3; /* Asegurar que la imagen no cubra los botones */
}

.spinner {
  width: 250px;
  height: 250px;
  text-align: center;
  border-radius: 200px;
  animation: spinning82341 1.5s linear infinite;
  box-shadow: 0px -5px 20px 0px rgb(191, 23, 23), 0px 5px 20px 0px rgb(47, 2, 83);
  position: relative;
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}
